<head>
        <title>AugustHost</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	  <a class="navbar-brand" href="#">AugustHost</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/app">Login</a>
	      </li>
  	      <li class="nav-item">
	        <a class="nav-link" href="https://docs.google.com/spreadsheets/d/1S-Vqsw_JyrCo6_zziWM_llZNl8AU92MeLZx9Xp5lMyw/copy">Spreadsheet</a>
	      </li>
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
	</nav>

	<div class="container" style="padding:100px">
		<div class="row justify-content-md-center">
			<div class="col col-8" style="center overflow:hidden">
			<section>
				<article>
					Lorem ipsum dummy content
				</article>
			</section>
			</div>
		</div>
	</div>
</body>
<footer class="page-footer font-small footer-dark bg-dark text-light">
	<div class="footer-copyright text-center py-3" style="padding-top: 60px">© 2018 
		<a href="https://mymealtor.com">Mealtor Inc.</a> | <a href="https://mymealtor.com/contact.html">Contact Us</a> | <a href="https://mymealtor.com/privacy-policy.html">Privacy Policy</a>
	</div>
</footer>